body{
    background-color:#f2f2f2;
}
label{
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
	font-weight:400;
    color:#333;
}

.login-box{
    min-width:200px;
    max-width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	margin-top:80px;
	border:1px solid #ddd;
	padding-top:20px;
	padding-bottom:5px;
	text-align:center;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#555;
    background-color:white;
}

.login-box .login-form{
	padding:50px;
    padding-bottom:30px;
}

.login-box .remember-me{
	text-align:left;
}

.login-box .remember-me .checkbox{
    padding-left:20px;
}

.login-box label{
	color:#555;
	margin-top:8px;
}

.login-box .input-group{
    margin-bottom:15px;
}

.btn-main{
	margin-top:0px;
	background-color:#2553d6;
	border-color:#2553d6;
	color:#fff;
}

.btn-primary .glyphicon{
    margin-right:20px;
}