@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_Manage.cshtml";
}

<div style="padding:10px;">
    <iframe id="" name="rightcontent" src="/User" frameborder="0" style="width:100%"></iframe>
</div>
